In [1]:
import numpy as np
import pandas as pd

In [4]:
data_df = pd.read_csv(r"P_VaaT_Supporting_Document_Q2.1_Train_Linear_Regression_1.csv")
data_df.head()

,Year,Week,Product A (historical),t,c,1,2,3,4,5,...,42,43,44,45,46,47,48,49,50,51
0,2017,1,29030,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,2,28930,2,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,3,28830,3,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,4,29020,4,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,5,27000,5,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
x = data_df.drop(["Year", "Week", "Product A (historical)"], axis=1).values
y = data_df["Product A (historical)"].values

In [15]:
# x_train = x[:183]
# y_train = y[:183]
# x_test = y[183:]
# y_test = y[183:]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=None, shuffle=False)

In [17]:
from sklearn.linear_model import LinearRegression
ml=LinearRegression()
ml.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
y_pred = ml.predict(x_test)
print(y_pred)

[38859.3040293  39165.97069597 38489.3040293  39039.3040293
 38265.97069597 38035.97069597 38122.63736264 38722.63736264
 39682.63736264 40932.63736264 40755.97069597 40242.63736264
 40229.3040293  38929.3040293  40469.3040293  39769.3040293
 39362.63736264 39742.63736264 40219.3040293  40885.97069597
 41402.63736264 41542.63736264 41815.97069597 42065.97069597
 41809.3040293  41309.3040293  40668.2967033  39560.7967033
 39753.2967033  38965.7967033  38440.7967033  38325.7967033
 38805.7967033  38810.7967033  39200.7967033  38090.7967033
 38428.2967033  37788.2967033  37575.7967033  37505.7967033
 37343.2967033  38070.7967033  37958.2967033  38430.7967033
 37515.7967033  38920.7967033  38710.7967033  38943.2967033
 40278.2967033  40023.2967033  40115.7967033  40068.2967033
 40925.62271062 41232.28937729 40555.62271062 41105.62271062
 40332.28937729 40102.28937729 40188.95604396 40788.95604396
 41748.95604396 42998.95604396 42822.28937729 42308.95604396
 42295.62271062 40995.62271062 42535.62271062 41835.62271062
 41428.95604396 41808.95604396 42285.62271062 42952.28937729
 43468.95604396 43608.95604396 43882.28937729 44132.28937729
 43875.62271062 43375.62271062]

In [19]:
ml.coef_

array([ 3.97368977e+01,  4.29736247e-11, -6.80744224e+02, -1.82798112e+03,
       -1.67521802e+03, -2.50245492e+03, -3.06719181e+03, -3.22192871e+03,
       -2.78166561e+03, -2.81640251e+03, -2.46613941e+03, -3.61587630e+03,
       -3.31811320e+03, -3.99785010e+03, -4.25008700e+03, -4.35982389e+03,
       -4.56206079e+03, -3.87429769e+03, -4.02653459e+03, -3.59377148e+03,
       -4.54850838e+03, -3.18324528e+03, -3.43298218e+03, -3.24021908e+03,
       -1.94495597e+03, -2.23969287e+03, -2.18692977e+03, -2.27416667e+03,
       -1.45657756e+03, -1.18964779e+03, -1.90605135e+03, -1.39578825e+03,
       -2.20885848e+03, -2.47859538e+03, -2.43166561e+03, -1.87140251e+03,
       -9.51139405e+02,  2.59123697e+02,  4.27201324e+01, -5.10350099e+02,
       -5.63420330e+02, -1.90315723e+03, -4.02894125e+02, -1.14263102e+03,
       -1.58903459e+03, -1.24877148e+03, -8.11841716e+02, -1.84911947e+02,
        2.92017822e+02,  3.92280924e+02,  6.25877360e+02,  8.36140462e+02,
        5.39736898e+02])

In [20]:
ml.intercept_

33044.02930402926

In [21]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

-0.20198571673153265

In [24]:
pred_y_df = pd.DataFrame({"Actual Value": y_test, "Predicted": y_pred, "Difference":y_test-y_pred})
pred_y_df.head()

   Actual Value   Difference     Predicted
0         33340 -5519.304029  38859.304029
1         33330 -5835.970696  39165.970696
2         32250 -6239.304029  38489.304029
3         32440 -6599.304029  39039.304029
4         33900 -4365.970696  38265.970696

In [26]:
pred_y_df.to_csv("P_VaaT_Supporting_Documents_Q2.1_Forecast_Linear_Regression.csv")